form {
    height: 40vh;
    width: 80vw;
    margin: auto;
    padding-top: 5vh;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5vh;
    border: 1px solid black;
    border-radius: 5px;
    height: 100%;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.6);
}

.div-center {
    margin: auto;
    margin: auto;
}